h2 {
    text-align: center
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
  }

.login {
    text-align: center
}

.inline {
    display: inline-block; 
  }

.table-center {
      margin-left: auto;
      margin-right: auto;
    }

.card {
  height: 500px;

}

