<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}reCreate Itinerary{% endblock %}
    </title>
    
    {% block head %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <link href="/static/css/travel-itinerary.css" rel="stylesheet">
  </head>
  <body>
    <h2>(re)Create Itinerary</h2>
 
    {% block homebutton %}

    <form action="/">
      <div style= text-align:left>
          <input type="submit" id="home-button" value="Home"><br><br> 
      </div>
    </form>

    {% endblock %}

    {% block body %}
      
    {% endblock %}

    {% block logout %}

    <form action="/logout">
        <div style= text-align:center>
            <input type="submit" value="Logout"> 
        </div>
    </form>
  
    {% endblock %}

    <!-- Bootstrap JavaScript Bundle -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- Random Color JavaScript Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
  </body>
</html>
