{% extends 'base.html' %}

{% block head %}
<style>
    body {
        background: url("/static/img/map.jpg") no-repeat center center;
        background-size: cover;
        backdrop-filter: blur(8px);
        height: 100vh;
    }

    .create-btn {
    border-radius: 10px;
    background-color: rgba(250, 187, 98, 0.4);
    }

    #name, #start, #end {
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block body%}

<form action="/itinerary-form">
    <br><br><br><br>
    <div class="create-page">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <label>Itinerary Name</label>
            </div>

            <div class="col-4">
                <input id="name" type="text" name="itn_name" required>
            </div>
            <div class="col-2">
            </div>
            <br><br>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <label for="start">Start Date </label>
            </div>
            <div class="col-4">
                <input type="date" id="start" name="start_date" value="yyyy-mm-dd">
            </div>
            <div class="col-2">
            </div>
            <br><br>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <label for="end">End Date </label>
            </div>
            <div class="col-4">
                <input type="date" id="end" name="end_date" value="yyyy-mm-dd">
            </div>
            <div class="col-2">
            </div>
            <br><br>
        </div>
        <div class="row">
            <p>Do you want to share your itinerary?</p>
        </div>

        <input type="radio" id="private" name="shareability" value="1" checked>
        <label for="private">Private</label>
        <input type="radio" id="friends" name="shareability" value="2">
        <label for="friends">Friends</label>
        <input type="radio" id="public" name="shareability" value="3">
        <label for="public">Public</label>
        <br><br>
        <div id="friends-email"></div>

        <div class="row-4">
            <input class="create-btn" type="submit" value="Create Itinerary">
            <br><br>
        </div>
    </div>
    <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1; // Month starts from 0
        day = date.getDate();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        today = year + "-" + month + "-" + day;
        let start_date = document.getElementById("start");
        start_date.setAttribute('min', today);
        let end_date = document.getElementById("end")
        end_date.setAttribute('min', today);
    </script>
</form>
<script src="/static/js/shareability.js"></script>

{% endblock %}