{% extends 'base.html' %}

{% block body %}

<div>
    <h3>Login</h3>

    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %} 

    <form action="/signin" method = "post">  
        Email <input type="text" name="email" required><br><br>
        Password <input type="password" name="password" required><br><br>
        <input type="submit" value="Sign In!">
    </form>

    <form action="/signup">
        <div>
            <h3>Not a member?</h3>
            <input type="submit" value="Sign Up!">
        </div>
    </form>
</div>

{% endblock %}

{% block logout %}

{% endblock %}