{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block navbar %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col login-container">
                <div class="login-container-inner">
                    <br><br>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-1">
                            <img src="/static/img/suitcase-logo.png">
                        </div>
                        <div class="col-7">
                            <h1>Rip and Trip</h1>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col">
                            <h5>Login to your account</h5><br>
                            {% with messages = get_flashed_messages() %}  
                                {% if messages %}  
                                    {% for message in messages %}  
                                        <div class="message">
                                            <p>{{ message }}</p>
                                        </div>  
                                    {% endfor %}  
                                {% endif %}  
                            {% endwith %} 

                            <form action="/signin" method = "post"> 
                                <div class="signin">
                                    <label>Email</label><input type="text" name="email" placeholder="abc@test.com" required><br><br>
                                    <label>Password</label><input type="password" name="password" placeholder="Enter your password" required><br><br>
                                    <!-- <input class="btwn" type="submit" value="Sign In">  -->
                                    <button class="btwn">Sign In</button>
                                    <br><br>
                                </div> 
                            </form>
                            <form action="/signup">
                                <div class="register">
                                    <b><div>
                                        Not a member?</div></b>
                                    <br>
                                    <input class="btwn" type="submit" id="signup" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block logout %} {% endblock %}