{% extends 'base.html' %}

{% block head %}
<link href="/static/css/view-itinerary.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="shared-itineraries">
    <div class="shared-itineraries-inner">
        <table class="table-center">
                {% for shared_itn in shared_itns %}
                    <tr id="copy-itinerary{{shared_itn["itn_id"]}}">
                        <td>
                            <a href="/show_itinerary?itn_id={{shared_itn["itn_id"]}}">
                            <button class="itn-name" type="button">{{shared_itn["itn_name"]}}</button><br><br>
                            </a>
                        </td>
                        <td>
                            <button class="itn-name" type="button" id="{{shared_itn["itn_id"]}}" onclick="copyItinerary(id)">Copy</button><br><br>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</div>

<script>
    function copyItinerary(id) {

        console.log(id);
        const queryString = new URLSearchParams({ itnId: `${id}` }).toString();
        const url = `/copy-itinerary?${queryString}`;

        location.assign(url);
    }
</script>

{% endblock %}