{% extends 'base.html' %}

{% block body %}

<div style= text-align:left>
    <div id="show-itinerary">
        <h3>{{itn_info["itn_name"]}}</h3>
        <b>Location: </b>{{itn_info["itn_location"]}}<br>
        <b>Start Date: </b>{{itn_info["start_date"]}}<br>
        <b>End Date: </b>{{itn_info["end_date"]}}<br>
        <b>Experiences: </b><br>
        {% for experience in itn_info["experiences"] %}
        <li>{{experience["exp_name"]}}</li>
        {% endfor %}
        
    </div>
</div>

{% endblock %}