{% extends 'base.html' %} 

{% block body %}

<div>
    <h2>Create Account</h2>

    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %} 

    <form action="/register" method = "post">
        Firstname <input type="text" name="firstname" required><br><br>
        Lastname <input type="text" name="lastname" required><br><br>
        Email <input type="text" name="new_email" required><br><br>
        Password <input type="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}

{% block logout %}

{% endblock %}