{% extends 'base.html' %} 


{% block head %}
    <link rel="shortcut icon" href="/static/img/suitcase-logo.png"/>
    <link href="/static/css/signup.css" rel="stylesheet">
{% endblock %}

{% block navbar %} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col signup-container">
            <div class="signup-container-inner">

                <br><br>
                
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-1">
                        <img src="/static/img/suitcase-logo.png">
                    </div>
                    <div class="col-7">
                        <h1>Rip and Trip</h1>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <br>

                <div class="row">
                    <h3 class="subtitle">Sign Up</h3>
                </div>
                <br>
                
                <div class="row">
                    <!--Displays flash messages-->
                    {% with messages = get_flashed_messages() %}  
                        {% if messages %}  
                            {% for message in messages %}  
                                <p>{{ message }}</p>  
                            {% endfor %}  
                        {% endif %}  
                    {% endwith %}
                </div>
                
                <div class="row">
                    <!--Signup form page-->
                    <form action="/register" method = "post">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <label>Firstname</label>
                            </div>
                            <div class="col-3">
                                <input 
                                class="text-box"
                                type="text" name="firstname" required>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <label>Lastname</label>
                            </div>
                            <div class="col-3">
                                <input 
                                class="text-box"
                                type="text" name="lastname" required>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <label>Email</label>
                            </div>
                            <div class="col-3">
                                <input 
                                class="text-box"
                                type="text" name="new_email" required>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <label>Password</label>
                            </div>
                            <div class="col-3">
                                <input 
                                class="text-box"
                                type="password" name="password" required>
                            </div>
                            <div class="col-6"></div>
                        </div>
                        <br>
                        <div class="row-6">
                            <input 
                            class="submit-btn"
                            type="submit" value="Create Account">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Doesn't inherit logout button from base.html-->
{% block logout %} {% endblock %}