{% extends 'base.html' %}

{% block head %}
<link href="/static/css/view-itinerary.css" rel="stylesheet">
{% endblock %}

{% block body %}


    <div class="view-itinerary">
        <div class="view-itinerary-inner">
            <h5>My itineraries</h5>
            <div class="overflow-auto p-3">
                <table class="table-center"><br>
                    {% for itn in itn_lst %}
                    <tr class="view-itinerary-sub-inner" id="hide-itinerary{{itn["itn_id"]}}">
                        <td>
                            <a href="/show_itinerary?itn_id={{itn["itn_id"]}}">
                                <button class="view-itn-btn" type="button">{{itn["itn_name"]}}</button>
                                <br><br>
                            </a>
                        </td>
                        <td>
                            <a href="/search?itn_id={{itn["itn_id"]}}"><button class="view-itn-btn"
                                    type="button">Edit</button><br><br></a>
                        </td>
                        <td>
                            <button class="view-itn-btn" type="button" id="{{itn["itn_id"]}}"
                                onclick="deleteItinerary(id)">Delete</button>
                            <br><br>
                        </td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        <script>
            function deleteItinerary(id) {
                document.querySelector("#hide-itinerary" + id).innerHTML = "";

                const queryString = new URLSearchParams({ itnId: `${id}` }).toString();
                const url = `/delete-itinerary?${queryString}`;

                fetch(url)
                    .then((response) => response.text())
                    .then((response) => {
                    });
            }
        </script>

{% endblock %}